*.aux
*.log
*.pdf
*.out
!**/Examens/**/*.pdf
!**/PDF/**/*.pdf
!**/*Teoria*.pdf
!**/*Problemes*.pdf
!**/Clases/**/*.pdf
!**/Practica/**/*.pdf
!**/Problemes/**/*.pdf
!**/Teoria/**/*.pdf
!**/*_vFinal.pdf